<a href="https://colab.research.google.com/github/Naomie25/DI-Bootcamp/blob/main/Week3_Day3_ExerciceXP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Duplicate Detection and Removal

In [6]:
# 1. Installer la bibliothèque kaggle
!pip install kaggle

# 2. Importer la fonction pour téléverser des fichiers
from google.colab import files
files.upload()  # ← Sélectionne ici ton fichier kaggle.json téléchargé depuis ton compte Kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (5.29.4)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"naomiemarciano","key":"a7810d4adf141a3202b944c9e4d877b2"}'}

In [7]:
# 3. Créer le dossier s’il n’existe pas
!mkdir -p ~/.kaggle

# 4. Copier le fichier au bon endroit
!cp kaggle.json ~/.kaggle/

# 5. Donner les bonnes permissions
!chmod 600 ~/.kaggle/kaggle.json

In [8]:
# 6. Télécharger la compétition Titanic
!kaggle competitions download -c titanic

# 7. Décompresser le fichier ZIP
!unzip titanic.zip

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 133MB/s]
Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [15]:
import pandas as pd

# Load the Titanic dataset
titanic_data = pd.read_csv('train.csv')

# Explore the dataset
print(titanic_data.head())
print(titanic_data.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [21]:
rows_before = len(titanic_data)

In [22]:
# Remove duplicate rows
titanic_data_with_no_duplicate = titanic_data.drop_duplicates()

In [23]:
rows_after = len(titanic_data_with_no_duplicate)

# Print the result
print(f"Rows before removing duplicates: {rows_before}")
print(f"Rows after removing duplicates: {rows_after}")

Rows before removing duplicates: 891
Rows after removing duplicates: 891

Exercise 2: Handling Missing Values

In [24]:
# Check for missing values in a DataFrame
missing_data = titanic_data.isnull()
print(missing_data.head())

# Count missing values in each column
missing_counts = titanic_data.isnull().sum()
print(missing_counts)

   PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0        False     False   False  False  False  False  False  False   False
1        False     False   False  False  False  False  False  False   False
2        False     False   False  False  False  False  False  False   False
3        False     False   False  False  False  False  False  False   False
4        False     False   False  False  False  False  False  False   False

    Fare  Cabin  Embarked
0  False   True     False
1  False  False     False
2  False   True     False
3  False  False     False
4  False   True     False
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [34]:
#Imputation
titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].mean())
print(titanic_data['Age'])

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [37]:
titanic_data['Cabin'] = titanic_data['Cabin'].fillna('Unknown')
print(titanic_data['Cabin'])

0      Unknown
1          C85
2      Unknown
3         C123
4      Unknown
        ...
886    Unknown
887        B42
888    Unknown
889       C148
890    Unknown
Name: Cabin, Length: 891, dtype: object

In [40]:
titanic_data['Embarked'] = titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0])
print(titanic_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare    Cabin Embarked
0        1      0         A/5 21171   7.2500  Unknown        S
1        1      0          PC 17599  71.2833      C85        C
2        0      0  STON/O2. 3101282   7.9250  Unknown        S
3        1      0            113803  53.1000     C123        S
4        0      0            373450   8.0500  Unknown        S
..     ...    ...               ...      ...      ...      ...
886      0      0            211536  13.0000  Unknown        S
887      0      0            112053  30.0000      B42        S
888      1      2        W./C. 6607  23.4500  Unknown        S
889      0      0            111369  30.0000     C148        C
890      0      0            370376   7.7500  Unknown        Q

[891 rows x 12 columns]

Exercise 3: Feature Engineering

In [41]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

# Exemple avec le DataFrame titanic_data
# Créer FamilySize
titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch'] + 1

# Extraire le titre depuis la colonne Name
titanic_data['Title'] = titanic_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [42]:
# Label encoding pour 'Title'
le = LabelEncoder()
titanic_data['Title_encoded'] = le.fit_transform(titanic_data['Title'])

# One-hot encoding pour 'Embarked'
titanic_data = pd.get_dummies(titanic_data, columns=['Embarked'])

In [44]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
titanic_data['Age_normalized'] = scaler.fit_transform(titanic_data[['Age']])
print(titanic_data['Age_normalized'])

0      0.271174
1      0.472229
2      0.321438
3      0.434531
4      0.434531
         ...
886    0.334004
887    0.233476
888    0.367921
889    0.321438
890    0.396833
Name: Age_normalized, Length: 891, dtype: float64

Exercise 4: Outlier Detection and Handling

In [46]:
# Identify and handle outliers in 'Fare' column
Q1 = titanic_data['Fare'].quantile(0.25)
Q3 = titanic_data['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers_fare = titanic_data[(titanic_data['Fare'] < lower_bound) | (titanic_data['Fare'] > upper_bound)]
print("Outliers in Fare:", outliers_fare)

Outliers in Fare:      PassengerId  Survived  Pclass  \
54            55         0       1
74            75         1       3
92            93         0       1
97            98         1       1
155          156         0       1
166          167         1       1
169          170         0       3
309          310         1       1
329          330         1       1
356          357         1       1
370          371         1       1
434          435         0       1
509          510         1       3
513          514         1       1
523          524         1       1
577          578         1       1
599          600         1       1
615          616         1       2
643          644         1       3
690          691         1       1
692          693         1       3
754          755         1       2
781          782         1       1
826          827         0       3
838          839         1       3

                                                Name     Sex        Age  \
54                    Ostby, Mr. Engelhart Cornelius    male  65.000000
74                                     Bing, Mr. Lee    male  32.000000
92                       Chaffee, Mr. Herbert Fuller    male  46.000000
97                   Greenfield, Mr. William Bertram    male  23.000000
155                      Williams, Mr. Charles Duane    male  51.000000
166           Chibnall, Mrs. (Edith Martha Bowerman)  female  29.699118
169                                    Ling, Mr. Lee    male  28.000000
309                   Francatelli, Miss. Laura Mabel  female  30.000000
329                     Hippach, Miss. Jean Gertrude  female  16.000000
356                      Bowerman, Miss. Elsie Edith  female  22.000000
370                      Harder, Mr. George Achilles    male  25.000000
434                        Silvey, Mr. William Baird    male  50.000000
509                                   Lang, Mr. Fang    male  26.000000
513   Rothschild, Mrs. Martin (Elizabeth L. Barrett)  female  54.000000
523  Hippach, Mrs. Louis Albert (Ida Sophia Fischer)  female  44.000000
577        Silvey, Mrs. William Baird (Alice Munger)  female  39.000000
599     Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")    male  49.000000
615                              Herman, Miss. Alice  female  24.000000
643                                  Foo, Mr. Choong    male  29.699118
690                          Dick, Mr. Albert Adrian    male  31.000000
692                                     Lam, Mr. Ali    male  29.699118
754                 Herman, Mrs. Samuel (Jane Laver)  female  48.000000
781        Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.000000
826                                     Lam, Mr. Len    male  29.699118
838                                  Chip, Mr. Chang    male  32.000000

     SibSp  Parch       Ticket     Fare    Cabin  FamilySize Title  \
54       0      1       113509  61.9792      B30           2    Mr
74       0      0         1601  56.4958  Unknown           1    Mr
92       1      0  W.E.P. 5734  61.1750      E31           2    Mr
97       0      1     PC 17759  63.3583  D10 D12           2    Mr
155      0      1     PC 17597  61.3792  Unknown           2    Mr
166      0      1       113505  55.0000      E33           2   Mrs
169      0      0         1601  56.4958  Unknown           1    Mr
309      0      0     PC 17485  56.9292      E36           1  Miss
329      0      1       111361  57.9792      B18           2  Miss
356      0      1       113505  55.0000      E33           2  Miss
370      1      0        11765  55.4417      E50           2    Mr
434      1      0        13507  55.9000      E44           2    Mr
509      0      0         1601  56.4958  Unknown           1    Mr
513      1      0     PC 17603  59.4000  Unknown           2   Mrs
523      0      1       111361  57.9792      B18           2   Mrs
577      1      0        13507  55.9000      E44           2   Mrs
599      1      0     PC 17485  56.9292      A20           2   Sir
615      1      2       220845  65.0000  Unknown           4  Miss
643      0      0         1601  56.4958  Unknown           1    Mr
690      1      0        17474  57.0000      B20           2    Mr
692      0      0         1601  56.4958  Unknown           1    Mr
754      1      2       220845  65.0000  Unknown           4   Mrs
781      1      0        17474  57.0000      B20           2   Mrs
826      0      0         1601  56.4958  Unknown           1    Mr
838      0      0         1601  56.4958  Unknown           1    Mr

     Title_encoded  Embarked_C  Embarked_Q  Embarked_S  Age_normalized
54              12        True       False       False        0.811510
74              12       False       False        True        0.396833
92              12       False       False        True        0.572757
97              12        True       False       False        0.283740
155             12        True       False       False        0.635587
166             13       False       False        True        0.367921
169             12       False       False        True        0.346569
309              9        True       False       False        0.371701
329              9        True       False       False        0.195778
356              9       False       False        True        0.271174
370             12        True       False       False        0.308872
434             12       False       False        True        0.623021
509             12       False       False        True        0.321438
513             13        True       False       False        0.673285
523             13        True       False       False        0.547625
577             13       False       False        True        0.484795
599             16        True       False       False        0.610455
615              9       False       False        True        0.296306
643             12       False       False        True        0.367921
690             12       False       False        True        0.384267
692             12       False       False        True        0.367921
754             13       False       False        True        0.597889
781             13       False       False        True        0.208344
826             12       False       False        True        0.367921
838             12       False       False        True        0.396833

In [47]:
#Méthode Z-score (pour ‘Age’)
from scipy import stats
import numpy as np

z_scores = stats.zscore(titanic_data['Age'].dropna())  # dropna pour ignorer les valeurs manquantes
abs_z_scores = np.abs(z_scores)
outliers_age = titanic_data['Age'][abs_z_scores > 3]  # seuil Z-score > 3
print("Outliers in Age:", outliers_age)

Outliers in Age: 96     71.0
116    70.5
493    71.0
630    80.0
672    70.0
851    74.0
Name: Age, dtype: float64

Exercise 5: Data Standardization and Normalization

In [50]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
titanic_data['Fare_standardized'] = scaler.fit_transform(titanic_data[['Fare']])
print(titanic_data['Fare_standardized'])

0     -0.779117
2     -0.729373
3      2.599828
4     -0.720161
5     -0.690071
         ...
886   -0.355367
887    0.897459
888    0.414752
889    0.897459
890   -0.742269
Name: Fare_standardized, Length: 775, dtype: float64

In [49]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
titanic_data['Age_normalized'] = scaler.fit_transform(titanic_data[['Age']])

Exercise 6: Feature Encoding

In [53]:
import pandas as pd

print(titanic_data.columns)
titanic_data = pd.get_dummies(titanic_data, columns=['Sex'])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'FamilySize', 'Title',
       'Title_encoded', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Age_normalized', 'Fare_standardized'],
      dtype='object')

In [54]:
from sklearn.preprocessing import LabelEncoder

# Example: 'Pclass' is ordinal: 1 (highest), 2, 3 (lowest)
le = LabelEncoder()
titanic_data['Pclass_encoded'] = le.fit_transform(titanic_data['Pclass'])

In [55]:
titanic_data.drop('Pclass', axis=1, inplace=True)

Exercise 7: Data Transformation for Age Feature

In [56]:
import pandas as pd

# Supposons que titanic_data est ton DataFrame avec la colonne 'Age'

# 1. Créer des groupes d'âge (bins)
bins = [0, 12, 18, 35, 60, 120]  # exemples de tranches d'âge : enfant, ado, adulte jeune, adulte, senior
labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']

titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], bins=bins, labels=labels, right=False)

# 2. Appliquer le one-hot encoding sur ces groupes d'âge
agegroup_dummies = pd.get_dummies(titanic_data['AgeGroup'], prefix='AgeGroup')

# 3. Intégrer ces colonnes dans le DataFrame principal
titanic_data = pd.concat([titanic_data, agegroup_dummies], axis=1)

# Vérifier le résultat
print(titanic_data[['Age', 'AgeGroup'] + list(agegroup_dummies.columns)].head())

         Age     AgeGroup  AgeGroup_Child  AgeGroup_Teen  \
0  22.000000  Young Adult           False          False
2  26.000000  Young Adult           False          False
3  35.000000        Adult           False          False
4  35.000000        Adult           False          False
5  29.699118  Young Adult           False          False

   AgeGroup_Young Adult  AgeGroup_Adult  AgeGroup_Senior
0                  True           False            False
2                  True           False            False
3                 False            True            False
4                 False            True            False
5                  True           False            False